*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background: #f5f5f5;
    max-width: 100dvw;
}

.overBackground{
    margin: 18dvh auto 5dvh ;
    backdrop-filter: blur(5px);
    width: clamp(300px, 80dvw, 1000px);
    height: max-content;
    padding: 20px;
    border-radius: 2dvw;
    background: white;
    box-shadow:1px 1px 5px 0 #202020;
}
.menu{
    z-index: 10;
    display: flex;
    gap: 10px;
    position: fixed;
    top: 0;
    width: 100%;
    margin: auto;
    background: transparent;
    backdrop-filter: blur(10px);
    padding: 10px;
    a{
        min-width: 0;
        background: #c3c782da;
        flex: 1;
        text-align: center;
        font-size: clamp(6px, 1.8dvw, 18px);
        padding: 1dvw;
        border: 1px solid black;
        border-radius: 5%;
        color: #192132;
        text-decoration: none;
    }
    a:hover{
        background-color: #293142;
        border-bottom: 2px solid black;
        color: #e3e5f2;
        text-shadow: 1px 1px black, 1px -1px black, -1px 1px black, -1px -1px black;
    }
}
#StarterTitle{
    margin-top: 15dvh;
}
.title{
    margin: 20px 0px 0px;
    text-align: center;
    font-size: clamp(20px, 8dvw, 80px);
}
.subtitle{
    font-size: clamp(12px, 5dvw, 40px);
    margin: 50px 0px 0px 20px;
}
ul{
    font-size: clamp(10px, 3dvw, 25px);
    margin: 20px 0px 0px 20px;
    padding: 15px 20px;
}
p{
    font-size: clamp(10px, 3dvw, 25px);
    margin: 20px 0px 0px 10px;
}
.center{
    margin: 30px auto 0;
    text-align: center;
    display: block;
    width: 100%;
    font-size: clamp(10px, 3dvw, 20px);
}
