.game{
    background-color: black;
    height: 80dvh;
    width: 100dvw;
    position: relative;
    background-size: cover;
    background-repeat: repeat;
    background-position: center;
    transition: filter 0.4s ease;
}

#Dialogue{
    display: none; 
    width: 90%;
    margin-left: 5%;
    height: clamp(max-content, 15%, 300px);
    background-color: transparent;
    backdrop-filter: blur(5px);
    padding: 15px;
    position: absolute;
    bottom: 5%;
    border-radius: 5%;
}
#routesDiv{
    display: none;
}
#Dialogue.finalDialogue{
    height: 60%;
    top: 20%;
    overflow-y: scroll;
}
#Dialogue .title{
    display: block;
    text-shadow: 1px 1px black, 1px -1px black, -1px 1px black, -1px -1px black;
    color: whitesmoke;
}
#Dialogue .finalP{
    font-size: clamp(15px, 5dvw, 35px);
    color: white;
    margin-bottom: 5px;
    text-shadow: 1px 1px black, 1px -1px black, -1px 1px black, -1px -1px black;
    text-align: center;
}

#Dialogue #Name{
    font-size: clamp(15px, 4dvw, 35px);
    color: white;
    margin-bottom: 15px;
    text-shadow: 1px 1px black, 1px -1px black, -1px 1px black, -1px -1px black;
}

#Dialogue p{
    font-size: clamp(10px, 3dvw, 25px);
    color: white;
    margin-bottom: 15px;
    text-shadow: 1px 1px black, 1px -1px black, -1px 1px black, -1px -1px black;
    cursor: pointer;
}

#Dialogue button{
    text-align: center;
    margin: 5px;
    padding: 1dvw;
    border-radius: 5%;
    border: 1px solid #506787;
}

#Dialogue button:hover{
    border: #324aa1 1px solid;
    background-color: #182a6d;
    color: blanchedalmond;
}

#queue{
    display: none;
}

#reset{
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    top: 1%;
    padding: 4px;
    display: none;
}

.playScreen{
    position: absolute;
    width: 80%;
    height: 60%;
    background-color: transparent;
    backdrop-filter: blur(5px);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 4%;
    border: 3px solid #182a6d;
    display: flex;
    
    flex-direction: column;
    

    #playButton{
        width: 40%;
        height: 20%;
        font-size: 4dvw;
        margin: auto;
        border: #182a6d 1px solid;
        border-radius: 2dvw;
        background-color: #c3c782da;
        cursor: pointer;
    }
    #playButton:hover{
        color: white;
        background-color: #324aa1;
    }

    h1{
        text-shadow: 1px 1px #182a6d, -1px 1px #182a6d, 1px -1px #182a6d, -1px -1px #182a6d;
    }
}